# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.so
*.egg-info/
dist/
build/

# Virtual environments
.venv/
venv/
env/

# IDE / Editor
.vscode/
.idea/
*.swp
*.swo

# OS files
.DS_Store
Thumbs.db

# DuckDB / local databases
*.db
*.duckdb

#CSV Files
data/
*.csv

# Logs / reports / generated artifacts
reports/
*.log

# Environment variables / secrets
.env

# Caches
.cache/
.pytest_cache/

# Jupyter
.ipynb_checkpoints/
